*{
    margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     border: none;
     outline: none;
    font-family:Poppins,sans-serif ;
   }
   :root {
     --bg-color: #212428;
     --bg-color-2:#202327 ;
     --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
     --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
     --inner-shadow-white: 1px 4px 2px -3px #D1D9E6 inset, -1px -3px 3px -2px #ffffff inset;
     --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
     --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
     --bg-nav-color: #575c60;
     --main-color: #00abf0;
     --text-color: #333; 
     --second-text-color: #555;
     --white-color: #fff;
     --cover-color:linear-gradient(45deg,#00abf0,#006e9a);
     --pages-color: :linear-gradient(90deg,#fff,#ddd);
     --border-color: #fff;
     --border:.125rem solid #00abf0;
     --box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .2);
    
     }
     body{
      background: var(--bg-color);
     }
     .single-testimony{
      display: flex;
      box-sizing: border-box;
      gap: 30px;
      padding: 20px;
     }
     .single-testimony .profile{
     background: var(--bg-color-2);
      border-radius: 20px;
     box-shadow: var(--shadow-1);
     padding: 20px;
     }
     .single-testimony .profile-description{
   color: white;
   position: relative;
   box-shadow: var(--inner-shadow);
   border-radius: 20px; 
  
     }
     
.display-none{
 display: none;
     }
     .single-testimony .profile-image img{
      border-radius: 20px;
      width:100%; }
      .navigators .bx{
        color:white;
        height: 80px;
        width: 80px;
        background-color:#181a1d;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 50px;
      }
      .basic-profile{
     
     
        border-radius: 20px;
        text-align: center; 
      }
      .basic-profile h3{
        color: white;
      }
    
      .icons{
        margin-bottom: 20px;
        display: flex;
    
      align-items: center; 
      } 
      .bxs-quote-right{
        margin-left: 10px;    
font-size: 200px;
      }
      .navigators{
       
     display: grid;
     grid-template-columns: 1fr 1fr;
align-items: center;
justify-content: center;
      }
      .main-description
      {
        justify-content: center;
        align-items: center;
      }

    .upper-low{
      position: relative;
      padding: 20px;
    }
.rating{
  position: absolute;
  top:30%;
  right: 20%;
}
.main-upper-low-description{
  width: 50%; 
}
.main-description .description{
  padding: 30px;
  gap:10px;

}


 @media screen and (max-width: 767px) {
 
  .heading .date-of-time{
    top: 90%;
  left:8px;
  
  }
  .rating
  {
    position: static; 
    top: auto;
    right: auto;
  }
  .single-testimony.display-none{
    display: none;
  }

  .quotes{
    display: none;
  }
  .icons{
    order: 2;
  }
  .profile-description{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .0625fr 0.625fr;
    height: fit-content;
    gap: 0.4px;
color: white;
  }
  .single-testimony{
    flex-direction: column;
  }
  
}