
*{
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
 font-family: 'MonoLisa', cursive,ans-serif;

}
*{
scroll-behavior:smooth;
}
:root {
  --bg-color: #212428;
  --input-bg-color:#191B1E;
  --blog-bg-color:#22262A;
  --features-bg-color:#202327;

  --bg-color-2: linear-gradient(145deg, #1e2024, #23272b);
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --inner-shadow-white: 1px 4px 2px -3px #D1D9E6 inset, -1px -3px 3px -2px #ffffff inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --bg-nav-color: #575c60;
  --main-color: #00abf0;
  --text-color: #333; 
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color:linear-gradient(45deg,#00abf0,#006e9a);
  --pages-color: :linear-gradient(90deg,#fff,#ddd);
  --border-color: #fff;
  --border:.125rem solid #00abf0;
  --box-shadow: 0 0 .6rem 0 rgba(0, 0, 0, .2);
}


body{
  background: var(--main-color);
}

  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
  }

  .title.sub-title.home-title #skills {
    display: inline;
      animation: fadeIn 0.5s ease-in-out;
      color: seagreen;
      display: inline;
  height: 80px;
  overflow: hidden;
  width: fit-content;
  }
.head-nav-bar {
background: var(--bg-color-2);
    color: #fff;
    padding: 10px 0;
 position: sticky;
 top:0px;
 z-index:10;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.main-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chars {
    font-size: 24px;
    font-weight: bold;
}
.navigation {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ccc;
}

.authentication {
    display: flex;
    align-items: center;
}


#close,#open {
  display: none;
  font-size: 40px;
}
.section{
  min-height: 100vh;
  /* border: 3px seagreen solid; */
  padding-top:4rem;
}

.home-page{
  color:var(--white-color);
   display: grid;
   grid-template-columns:3fr 2fr;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
  }
  .right-home-page img{
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  right: 0;
  bottom: 0;
}

.left-home-page{
  display: grid;
  padding: 20px;
    grid-template-rows:.1fr 1fr; 
}
.left-home-page .my-ntro{
 display: grid;
 background: seagreen;
 grid-row: .5fr .5fr;
justify-content:space-between ;
padding: 20px;
}
.left-home-page .description{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color:rgb(196,207,222);
 line-height: 30px;
 font-size: 16px;
}
.basics{
margin-top: 20px; 
display: flex;
justify-content:space-between;
}
.best-skill-on p,.findme p{
font-family: 'Poppins', sans-serif;
font-weight: 400;
color:rgb(196,207,222);
 line-height: 30px;
  font-size: 14px;
 font-weight: 300;
 line-height: 27px;
text-transform: uppercase;
/* display: block; */
padding-bottom: 10px;
}
.best-skill-on-icons , .findme-icons {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;

}
.best-skill-on-icons .bx,.findme-icons .bx{
 height: 50px;
 width: 50px;
 display: grid;
 justify-content: center;
 align-content: center;
 background: var(--input-bg-color);
 font-size: 30px;
}

.single-feature{
display: grid;
height: fit-content;
position: relative;
grid-template-rows:.5fr  .5fr 1fr;

width: 100%;
}
.features-container{

line-height: 20px;
color: white;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,350px));
grid-template-rows: repeat(auto-fit, minmax(200px,1fr));
/* border: 3px blue solid; */
justify-content: center;

gap: 20px;
/* padding:20px; */
align-self: center;
}
.feature-logo .bx,.read-more .bx{
color: rgb(172, 178, 155);
font-size: 100px;

}
.read-more{
display: none;
}
.single-feature:hover .read-more {
background: slateblue;
position: absolute;
bottom: 50%;
right:10px;
display: grid;
}

.blogs-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
justify-content: center;
align-self: center;
gap: 20px;
padding:20px;
border-radius: 20px;
}

.single-blog{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-self: center;
/* gap: 20px; */
/* padding:20px; */
grid-template-rows: 5fr 2fr;
border-radius: 20px;
}
.single-blog .image img{
width: 100%;
height: 300px;
border-radius: 20px;
}
.blog-upper{
border-radius: 20px;
display: grid;
grid-template-columns: 4fr 2fr;
justify-content: space-between;}
.blog-lower{
border-radius: 20px;
color: white;
font-size: 20px;
text-align: center;
display: grid;
justify-content: center;
align-items: center;
}
.blog-presentation{
display: grid;
grid-template-rows: 1fr 3fr;
}
.min-read{
color:white
}
.read-more-btn {
background-color: #007bff; /* Button background color */
color: #fff; /* Button text color */
padding: 8px 16px; /* Button padding */
border: none; /* Remove button border */
border-radius: 4px; /* Add button border radius */
cursor: pointer; /* Change cursor to pointer on hover */
transition: background-color 0.3s ease; /* Add transition effect */
margin-top: 10px; /* Add some top margin */
}

.read-more-btn:hover {
background-color: #0056b3; /* Change button background color on hover */
}

.container-clients{

  display: grid;
  grid-template-columns: 1fr 4fr;
}
.left-clients {  


height: fit-content;
display: flex;
flex-direction: column;
/* grid-template-rows: repeat(6,1fr); */
gap: 10px;
padding: 10px;
box-shadow: var(--inner-shadow-white);
}
.clients-category{
background: var(--bg-color-2);
box-shadow: var(--inner-shadow-white);
display: flex;
align-items: center;
justify-content: center;
height:60px ;
color: white;
font-size: 30px;
border-radius: 10px;


}
.right-clients.display-grid{
  overflow-y:scroll;

  display:grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

  gap: 20px;
  align-items: center;
  max-height: 130vh;
}
.right-clients.display-none{
display: none;
}
.theclient-project{
display: grid;
grid-template-rows: 2fr 1fr;
color: white;
height: 200px;
background: var(--bg-color);
align-items: center;
justify-content: center;
border-radius: 15px;
box-shadow: var(--shadow-2);
}
.h6{
color:white;
}
.theclient-project .image{
width: fit-content;
height: fit-content;
border-radius: 15px;

}
.theclient-project .name{
width: fit-content;
height: fit-content;
border-radius: 15px;
}
.theclient-project .image img{
width: 80%;
height: 80%;
}




/* testimony stylinng */

.display-none{
display: none;
}

.heading,
.content,
.rn-nav-list,
.single-list,
.inner,
.section-title,
.experience.education-list,
.title {
display: grid;
}


.section-title {
background-color: var(--bg-color, #212428);
padding: 20px;
display: flex;
flex-direction: column;
color: rgb(144, 197, 247);
gap:2px;
align-items: center;
justify-content: center;
}

.subtitle.sub-title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color:rgb(249, 0, 77);
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title.sub-title {
  font-family: Montserrat;
align-self: center;
justify-self: center;
font-size: 60px; 
color:white;
line-height: 62px;
}


.title.sub-tittle {
align-self: center;
text-align: center;
}
.title.sub-tittle,
.subtittle.sub-title {
align-self: center;
text-align: center;
}
.right-resume .content ,.left-resume .content {
color: white;
height: fit-content;

}

.rn-nav-list {
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
height: 100%;
align-items: center;


}

.rn-nav-list .nav-item {

height: 100%;
width: 100%;
color: white;
display: grid;

text-align: center;

}
.rn-nav-list .nav-item span {
box-shadow: var(--inner-shadow-white);
height: 100%;
display: grid;
text-decoration: none;
color: white;
font-size: 40px;

}
.rn-nav-list .nav-item .nav-link {
display: grid;
height: 100%;
justify-content: center;
align-items: center;
}
.resume-sides.display-grid {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 20px;
box-shadow: var(--inner-shadow);
gap:20px;
padding: 20px;

}
.left-resume,.right-resume,.single-list{
padding: 20px;
}
.resume-sides.display-none {
display: none;
}
.experience.education-list {
grid-template-rows: repeat(3, 1fr);
gap:30px;
box-sizing: border-box;
box-shadow: var(--inner-shadow);
}
.inner {
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr;
}
.heading {
position: relative;
height: 100px;
}
.heading .title {
color: white;
grid-template-rows: 1fr 1fr;
position: absolute;
top: 0px;
left: 0;
width: 70%;
height: 66%;
}
.heading .date-of-time {
position: absolute;
top: 25%;
right: 0;
width: 12.5%;
height: 33%;

}
.single-list {
color: white;
/* box-shadow: var(--shadow-white-3); */
background: var(--bg-color-2);
box-shadow:var(--inner-shadow-white);

}
/* .portfolio section ccss */

.portfolio-container {
display: grid;
gap: 20px;
justify-content: center;
align-items: center;
padding: 20px;
grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
border-radius: 20px;
}
.single-project {
width: 100%;
}
.single-project {
display: grid;
grid-template-rows: 5 2;
border-radius: 20px;
}
.single-project .image img {
width: 100%;
height: 300px;
border-radius: 20px;
}
.project-upper {
border-radius: 20px;
display: grid;
grid-template-columns: 4fr 2fr;
justify-content: space-between;
}
.project-lower {
border-radius: 20px;
color: white;
font-size: 20px;
text-align: center;
display: grid;
justify-content: center;
align-items: center;
}
.project-presentation{
display: grid;
grid-template-rows: 1fr 3fr;
}
.navigators{
  display: flex ;
  gap: 30px;
}
.design.development-list{
  display: grid;
  gap: 20px;
  width: 100%;
}
.design.development-list li{
  list-style: none;
}
.design.development-list .bar{
  
  background-color: rgb(92, 139, 46);
  list-style: none;
  float: left;
  height:30px;
  border-radius: 20px;
}
.html, .css, .figma, .react-native, .mysql, .java, .c, .cpp, .javascript, .nodejs{
  position: relative;
  height: 20px;

  list-style: none;
  float: left;
  width: 50%;
  height: 30px;
  border-radius: 20px;
}
.rate{
  position:absolute;
  height: 30px;
  left:95%;
  top:-20px;
}



/* //skills realate styles */
.design.development-list{
display: grid;
gap: 20px;
width: 100%;
}
.design.development-list li{


list-style: none;
}
.design.development-list .bar{

background-color: rgb(92, 139, 46);
list-style: none;
float: left;
height:30px;
border-radius: 20px;
}
.html, .css, .figma, .react-native, .mysql, .java, .c, .cpp, .javascript, .nodejs{
position: relative;
height: 20px;
background-color: rgb(98, 205, 16);
list-style: none;
float: left;
width: 50%;
height: 30px;
border-radius: 20px;
}
.rate{
position:absolute;
height: 30px;
left:95%;
top:-20px;
}

@media screen and (max-width: 767px) {
.single-testimony.display-none{
display: none;
}
.profile-description{
display: grid;
grid-template-rows:.75fr .25fr;

}
.quotes{
display: none;
}
.icons{
order: 2;
}

}


@media only screen and (max-width: 600px) {
  .title.sub-title.home-title #skills {

font-size: x-large;
height: 70px;
overflow: hidden;
width: fit-content;
}

  
  #open {
    display: contents;
}
.logo {
        position: relative;
        order: -1;
    }
    .closing-opening {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 0;
        width: fit-content;
background: var(--bg-color);
box-shadow: var(--shadow-white-3);
      justify-content: space-between;
      gap:30px;
        padding: 40px 30px;
        z-index: 1;
    }

    .navigation.active {
        display: flex;
        gap: 20px;
        padding: 40px 30px;
        background: #006e9a;
      
    }
    #close{
      display: block;
    }

    .authentication {
        order: 2;
    }
    .contact .messages-sides{
  width: fit-content;
      display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr  1fr;
color: white;
    }
    .portfolio-container,.blogs-container,.container-clients,.features-container,.home-page,.resume-sides,.experience.education-list,.resume-sides.display-grid{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(auto-fit, minmax(300px, 1fr))}

.rn-nav-list{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(auto-fit, minmax(2px, 1fr));
background: var(--bg-color-2);
box-shadow: var(--inner-shadow-white);
  display: grid;
 align-items: center;
 justify-content: center;
 color: white;
 font-size: 30px;
 border-radius: 20px;
 padding: 20PX;
 width: 100%;
 gap: 20px;
}
.single-list{
padding: 20px;
}
.basics{
flex-direction: column;
}
.best-skill-on-icons , .findme-icons {
display: flex;
width: fit-content;

  
 }

 .blog-container .modol-closing{
position: sticky;
left: 50%;
height: 200px;
width: 200px;
background: blue;}
}

